.footer {
    background-color: #e0e0e0;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.footer span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
