<div class="contenido">
    <h1><strong>RAZAS MÁS CONOCIDAS</strong></h1>
    <h2>De México</h2>

    <div class="gatos-container">
        <div class="gato">
            <img src="gato9.jpg" alt="Gato Siames">
            <div class="info">
                <h4>Gato Siames</h4>
                <p>"Con sus ojos azules y naturaleza sociable, el siamés es uno de los favoritos en México."</p>
            </div>
        </div>
        <div class="gato">
            <img src="gato8.jpg" alt="Gato Persa">
            <div class="info">
                <h4>Gato Persa</h4>
                <p>"Majestuoso y tranquilo, el persa es perfecto para aquellos que buscan una mascota relajada." </p>
            </div>
        </div>
        <div class="gato">
            <img src="gato7.jpg" alt="Gato Maine Coon">
            <div class="info">
                <h4>Gato Maine Coon</h4>
                <p>"Con su gran tamaño y carácter amistoso, el Maine Coon es ideal para familias."</p>
            </div>
        </div>
        <div class="gato">
            <img src="gato6.jpg" alt="Gato Sphynx">
            <div class="info">
                <h4>Gato Sphynx</h4>
                <p>"Sin pelo y muy afectuoso, el Sphynx es una opción exótica para quienes buscan algo diferente."
                </p>
            </div>
        </div>
        <div class="gato">
            <img src="gato5.jpg" alt="Gato Bengali">
            <div class="info">
                <h4>Gato Bengali</h4>
                <p>"El Bengalí combina un aspecto salvaje con una personalidad juguetona y enérgica."</p>
            </div>
        </div>
    </div>

    <div class="gatitos">
        <img src="gato3.png" alt="Gato 3">
        <img src="gato2.png" alt="Gato 2">
        <img src="gato1.png" alt="Gato 1">
    </div>
</div>